POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_PORT_DOCKER=5432
POSTGRES_DB=my_db
POSTGRES_SCHEMA=my_schema
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PORT_DOCKER=6379
REDIS_PASSWORD=1234
REDIS_DATABASES=16

NACOS_AUTH_TOKEN=VGhpc0lzTXlDdXN0b21TZWNyZXRLZXkwMTIzNDU2Nzg=
NACOS_AUTH_IDENTITY_KEY=spring_examples
NACOS_AUTH_IDENTITY_VALUE=spring_examples

GATEWAY_HOST=gateway
GATEWAY_PORT=8080
GATEWAY_PORT_DOCKER=8080
GATEWAY_BASE_URL=http://gateway:8080

AUTH_HOST=auth
AUTH_PORT=9000
AUTH_PORT_DOCKER=9000
AUTH_BASE_URL=http://auth:9000
AUTH_CONTEXT_PATH=/auth
AUTH_ISSUER_URI=http://localhost:8080/auth
AUTH_DEMO_USERS_ENABLED=true
AUTH_DEMO_CLIENT_ENABLED=true
AUTH_CLIENT_ID=client_id_1
AUTH_CLIENT_SECRET=client_secret_1
CLIENT_REDIRECT_URI=http://localhost:8011/login/oauth2/code/my-registration

CLIENT_HOST=client
CLIENT_PORT=8011
CLIENT_PORT_DOCKER=8011

GATEWAY_RATE_LIMIT_REPLENISH_RATE=100
GATEWAY_RATE_LIMIT_BURST_CAPACITY=100
GATEWAY_RATE_LIMIT_REQUESTED_TOKENS=1

LOG_PATH=./logs
